body {
    margin: 0;
    padding: 0;
    background-image: url(imagenes/fondo-1.jpg);
}

main {

    align-items: center;
    text-align: center;
    overflow-x: hidden;
}

/*FONTS */
@font-face {
    font-family: "Serif-parrafo";
    src: url(./fonts/SerlioLH.ttf);
}

@font-face {
    font-family: "serif-parrafo-italic";
    src: url(./fonts/Bodoni-SvtyTwo-ITC-TT-BookIta.ttf);
}

@font-face {
    font-family: "cursiva";
    src: url(./fonts/H4cjBXOCl9bbnla_nHIq6qu_oqM\ \(1\).woff2);
}

@font-face {
    font-family: "formulario";
    src: url(./fonts/jkiticon.woff2);
}


/*ESTILOS ETIQUETAS GLOBALES*/


h3 {

    font-family: "serif-parrafo", serif;
    margin: 5%;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 1.5px;
}

h4 {
    padding: 0px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0%;
    font-family: "serif-parrafo-italic", serif;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 1.5px;

}

h1 {
    margin-bottom: 0px;
    margin-top: 0%;
    margin-right: 2%;
    margin-left: 2%;
}

h2 {
    font-family: "Playfair Display", serif;
    font-weight: 800;
    font-size: 40px;
}

.parrafo {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    font-family: "serif-parrafo-italic", serif;
    font-size: 20px;
    letter-spacing: 2px;
}

.title {
    font-family: "Cormorant", serif;
    text-align: center;
    font-size: 35PX;
    letter-spacing: 3.5px;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #BC6C25;
}

button {
    background-color: #835730;
    color: white;
    border-color: #936238;
    border-radius: 20px;
    padding: 5px;
    font-weight: 400;
    width: 140px;
    height: 40px;
    font-size: large;
    font-family: 'Playfair Display", serif';
    transition: background-color 0.5s ease-in-out, font-size 0.3s linear;
}

button:hover {
    cursor: pointer;
    font-size: 110%;
    background-color: #797d62;
}

/*SEECIÓN INTRO*/

.intro-parrafo {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    margin-top: 10%;
    font-family: "serif-parrafo", serif;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 1.8px;
}

.polaroid-1 {

    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
    margin-top: 5%;
}

.polaroid-1 img {
    width: 80%;
    filter: grayscale(30%);

}

.cactus-intro {
    position: relative;
}

.cactus-intro img {
    width: 60%;
    position: absolute;
    margin-left: -80%;
    margin-top: -40%;
    opacity: 40%;
}



/*SECCIÓN NOMBRES*/

.bendicion {
    font-size: 22px;
}

.nombre-novios {
    margin-top: 5%;
    margin-bottom: 10%;
}

h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
}

.nombres-padres {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    justify-content: space-between;
    padding: 0px;
    margin-bottom: 5%;
}

.nombres-padres h2 {
    font-family: 'serif-parrafo-italic', Serif;
    font-size: 15px;
    ;
}


/*ESTILOS SECCIÓN UBICACIONES*/

.informacion-fecha {
    width: 80%;
}

.ubicaciones-ceremonia {
    text-align: center;
    justify-items: center;
    align-items: center;
    margin: 5%;
}

.ubicaciones-ceremonia img {
    width: 70%;
    margin: 0px;

}

.ubicaciones-ceremonia-lugar,
.ubicaciones-recepcion-lugar {
    font-size: 23px;
    margin-top: 1%;
}

.ubicaciones-ceremonia-hora,
.ubicaciones-recepcion-hora {
    font-size: 20px;
}

.ubicaciones-ceremonia-direccion,
.ubicaciones-recepcion-direccion {
    font-family: "serif-parrafo-italic", serif;
    font-size: 15px;
    letter-spacing: 2px;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.ubicaciones-recepcion {
    text-align: center;
    justify-items: center;
    position: relative;
}

.ubicaciones-recepcion img {
    width: 40%;
    margin-top: 10%;
    margin-bottom: 1%;
}

.cactus-finca img {
    width: 40%;
    position: absolute;
    margin-top: -45%;
    margin-left: 15%;
    opacity: 70%;
}


/*SECCIÓN CONTADOR*/
.contador {

    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 100%;
}

.contador-leyenda {
    font-family: "Cormorant", serif;
    text-align: center;
    font-size: 35PX;
    letter-spacing: 3.5px;
    margin-top: 10%;
    margin-bottom: 1%;
    color: #BC6C25;
    font-weight: 600;

}

.contador-datos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: space-between;
    padding: 0px;
    margin: 2%;
    font-family: "serif-parrafo", serif;
    font-style: normal;
    letter-spacing: 1.5px;
    text-align: center;
}

.contador-datos-dias,
.contador-datos-horas,
.contador-datos-minutos,
.contador-datos-segundos {
    margin: 5%;
    font-size: 200%;
    font-weight: 600;
}





/*SECCIÓN ITINERARIO*/
.itinerario {
    display: flex;
    justify-content: space-between;
    margin: 5%;
    margin-bottom: 10%;
}

.itinerario-derecha {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5%;
    margin-left: 3%
}


.itinerario-izquierda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
}

.itinerario-izquierda-C1,
.itinerario-izquierda-C2,
.itinerario-izquierda-C3,
.itinerario-izquierda-C4,
.itinerario-derecha-C5,
.itinerario-derecha-C6,
.itinerario-derecha-C7,
.itinerario-derecha-C8 {
    width: 100px;
    height: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.itinerario-division {
    position: relative;
}

.itinerario-division-vertical {
    margin: 1%;
    width: 2px;
    background-color: #797d62;
    height: 100%;
}

.itinerario-division-horizontal-1 {
    top: 70px;
    left: -35px;
    background-color: #797d62;
    width: 70px;
    height: 1.5px;
    position: absolute;
    z-index: 2;
}

.itinerario-division-horizontal-2 {
    width: 70px;
    background-color: #797d62;
    height: 1.5px;
    position: absolute;
    z-index: 2;
    top: 220px;
    left: -35px;
}

.itinerario-division-horizontal-3 {
    width: 70px;
    background-color: #797d62;
    height: 1.5px;
    position: absolute;
    z-index: 2;
    top: 370px;
    left: -35px;
}

.itinerario-division-horizontal-4 {
    width: 70px;
    background-color: #797d62;
    height: 1.5px;
    position: absolute;
    z-index: 2;
    top: 520px;
    left: -35px;
}

/*SECCIÓN VESTIMENTA*/
.vestimenta-parrafo {
    font-family: "serif-parrafo", serif;
    margin: 5%;
    font-size: 25px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 1.5px;
}

.vestimenta-imagen {
    width: 50%;
    margin-top: -3%;
}

.regalo-cuenta {
    font-family: "serif-parrafo", serif;
    margin: 1%;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 1.5px;
}


/*ESTILOS SECCIÓN GALERIA*/

.mySwiper {
    width: 95%;
    height: 80vh;
    overflow: hidden;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
}

/* Wrapper de slides */
.swiper-wrapper {
    display: flex;
    flex: 1;
    align-items: stretch;
}

/* Slide individual */
.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    min-height: 0;
}


/* Paginación básica */
.swiper-pagination {
    position: absolute;
    bottom: 5px;
    width: 100%;
    text-align: center;
}

.swiper-pagination-bullet {
    display: inline-block;
    width: 7px;
    height: 7px;
    background: gray;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    background: black;
}


/*ESTILOS SECCIÓN CONFIRMACIÓN*/
.confirmacion {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    text-align: left;
}

.confirmacion-pase {
    margin: auto;
}

.confirmacion img {
    width: 50px;
}

.confirmacion h2,
.confirmacion h3,
.confirmacion p {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.confirmacion-formulario button {
    width: 150px;
    font-size: 12px;
    margin-bottom: 15px;
    margin: auto;
}

.confirmacion p {
    font-family: "serif-parrafo-italic", serif;
    font-weight: 200;
    letter-spacing: 2px;
    font-size: 18px;
    margin: 2%;

}

.confirmacion-formulario {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.confirmacion-formulario label {
    font-family: "formulario", serif;
    font-weight: 200;
    letter-spacing: 2px;
    font-size: 18px;
    margin-bottom: 5px;
}

.confirmacion-formulario input,
select,
textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    font-family: "formulario", serif;
    font-style: italic;
    font-size: medium;
}

dialog {
    border: none;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    text-align: center;
    ;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
}

.ultima-foto img {
    width: 96%;
    margin: 2%;
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: black;
    height: 150px;
}

footer p {
    color: white;
    font-size: 12px;
}


@Media (min-width:601px) {
    main {
        max-width: 375px;
        margin: auto;
    }
}