body {
    margin: 0%;
    padding: 0%;
    background-color:#efefef  ;

}

main{
    margin:1%;
    padding: 1%;
 
}
/*FONTS */
@font-face {
    font-family: "Serif-parrafo";
    src: url(./fonts/SerlioLH.ttf);
}

@font-face {
    font-family: "serif-parrafo-italic";
    src: url(./fonts/Bodoni-SvtyTwo-ITC-TT-BookIta.ttf);
}

@font-face {
    font-family: "cursiva";
    src: url(./fonts/H4cjBXOCl9bbnla_nHIq6qu_oqM\ \(1\).woff2);
}

@font-face {
    font-family: "formulario";
    src: url(./fonts/jkiticon.woff2);
}

.principal-image{
    display: flex;
    flex-direction: column;
}
.principal-image img{
    width:100%;
    filter: grayscale(40%);
    margin-bottom:0%;
}
h2 { 
    font-family:'Vidaloka', serif ;
    font-weight: 200;
    margin-top:0%;
    text-align: center;
    margin-bottom:0%;
    font-size:28px;
}
h1 { 
    font-family:'rouge script', cursive;
    font-weight: 100;
    font-size:250%;
    text-align: center;
    margin-bottom:2%;
    margin-top:2%;
}

h3{
    font-family:'Playfair display', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom:1%;
    margin-top:0%
}
.click{
    display: flex;
    margin-top:5%;
    margin-bottom:5%;
}
.bota img{
    width: 70%;
    margin-right:42%;
    margin-left: 0%;
}

.click p{
    font-family: 'Cormorant';
    font-size: 12px;
    margin-top: 10%;
    margin-right: 0%;
    padding-right: 0%;
    margin-left: 5%;

}



h4 {
    font-family:'Hammersmith One', sans-serif;
    font-weight: 200;
    font-size: 12px;
    text-align: center;
    margin-top:5%;
}