body {
    margin: 0;
    padding: 0;
    background-image: url(imagenes/papel-blanco.jpg);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:1%;
    padding:1%;
    text-align: center;
}
/*FONTS */
@font-face {
    font-family: "Serif-parrafo";
    src: url(./fonts/SerlioLH.ttf);
}

@font-face {
    font-family: "serif-parrafo-italic";
    src: url(./fonts/Bodoni-SvtyTwo-ITC-TT-BookIta.ttf);
}

@font-face {
    font-family: "cursiva";
    src: url(./fonts/H4cjBXOCl9bbnla_nHIq6qu_oqM\ \(1\).woff2);
}

@font-face {
    font-family: "formulario";
    src: url(./fonts/jkiticon.woff2);
}


/*ESTILOS ETIQUETAS GLOBALES*/


h3 {

    font-family: "serif-parrafo", serif;
    margin: 5%;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 1.5px;
}

h4 {
    padding: 0px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 0%;
    font-family: "serif-parrafo-italic", serif;
    font-size: 18px;
    font-weight: 200;
    letter-spacing: 1.5px;

}

h1 {
    margin-bottom: 0px;
    margin-top: 0%;
    margin-right: 2%;
    margin-left: 2%;
}

h2 {
    font-family: "Playfair Display", serif;
    font-weight: 800;
    font-size: 40px;
}

.parrafo {
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    font-family: "serif-parrafo-italic", serif;
    font-size: 20px;
    letter-spacing: 2px;
}
.title {
    font-family: "Cormorant", serif;
    text-align: center;
    font-size: 35PX;
    letter-spacing: 3.5px;
    margin-top: 5%;
    margin-bottom: 5%;
    color:#BC6C25
}

button {
    background-color:#000000;
    color: white;
    border-radius: 20px;
    padding: 5px;
    font-weight: 400;
    width: 140px;
    height: 40px;
    font-size: large;
    font-family: 'Playfair Display", serif';
    transition: background-color 0.5s ease-in-out, font-size 0.3s linear;
}

button:hover {
    cursor: pointer;
    font-size: 110%;
    background-color: #797d62;
}

/*SEECIÓN INTRO*/
.intro-parrafo{
     margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    font-family: "serif-parrafo-italic", serif;
    font-size: 20px;
    letter-spacing: 2px;
}
.polaroid-1{

    align-content: center;
    justify-content: center;
    align-items: center;
}
.polaroid-1 img {
    width: 70%;
    filter:grayscale(30%);

}



/*SECCIÓN NOMBRES*/

.bendicion {
    font-size:25px;
}






/*ESTILOS SECCIÓN UBICACIONES*/


.ubicaciones-ceremonia {
    text-align: center;
    justify-items: center;
    align-items: center;
    margin: 5%;
}

.ubicaciones-ceremonia img {
    width: 200px;
    margin: 0px;

}

.ubicaciones-ceremonia-lugar,
.ubicaciones-recepcion-lugar {
    font-size: 23px;
    margin-top: 1%;
}

.ubicaciones-ceremonia-hora,
.ubicaciones-recepcion-hora {
    font-size: 20px;
}

.ubicaciones-ceremonia-direccion,
.ubicaciones-recepcion-direccion {
    font-family: "serif-parrafo-italic", serif;
    font-size: 15px;
    letter-spacing: 2px;
    margin-bottom: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.ubicaciones-recepcion {
    text-align: center;
    justify-items: center;
}

.ubicaciones-recepcion img {
    width: 150px;
    margin-top: 10%;
    margin-bottom: 5%;
}


/*SECCIÓN ITINERARIO*/
.itinerario {
    display: flex;
    justify-content: space-between;
    margin: 5%;
}

.itinerario-derecha {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5%;
    margin-left: 3%
}


.itinerario-izquierda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
}

.itinerario-izquierda-C1,
.itinerario-izquierda-C2,
.itinerario-izquierda-C3,
.itinerario-izquierda-C4,
.itinerario-derecha-C5,
.itinerario-derecha-C6,
.itinerario-derecha-C7,
.itinerario-derecha-C8 {
    width: 100px;
    height: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.itinerario-division {
    position: relative;
}

.itinerario-division-vertical {
    margin: 1%;
    width: 2px;
    background-color: black;
    height: 100%;
}

.itinerario-division-horizontal-1 {
    top: 70px;
    left: -35px;
    background-color: black;
    width: 70px;
    height: 1.5px;
    position: absolute;
    z-index: 2;
}

.itinerario-division-horizontal-2 {
    width: 70px;
    background-color: black;
    height: 1.5px;
    position: absolute;
    z-index: 2;
    top: 220px;
    left: -35px;
}

.itinerario-division-horizontal-3 {
    width: 70px;
    background-color: black;
    height: 1.5px;
    position: absolute;
    z-index: 2;
    top: 370px;
    left: -35px;
}

.itinerario-division-horizontal-4 {
    width: 70px;
    background-color: black;
    height: 1.5px;
    position: absolute;
    z-index: 2;
    top: 520px;
    left: -35px;
}

/*SECCIÓN VESTIMENTA*/
.vestimenta-parrafo{
    font-family: "serif-parrafo", serif;
    margin: 5%;
    font-size: 25px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 1.5px;
}

.regalo-cuenta{
    font-family: "serif-parrafo", serif;
    margin: 1%;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 1.5px;
}
